{% load static %}
<footer class="py-8 text-center md:text-left">
    <div class="container mx-auto">
      <div class=" flex flex-col lg:flex-row content-center items-center justify-between">
        <div class="flex items-center flex-col lg:flex-row mx-auto">
          <img src="{% static 'img/logo.svg' %}" class="w-32 lazy" alt="Logo"/>
          <span class="ml-0 md:ml-4 text-sm text-gray-600 py-4 lg:py-0">An AI Writing Company, Copyright &copy; 2022</span>
        </div>
          <!-- Start Main Nav Bar -->
        <div class="navbar mx-auto">
          <ul class="navbar-nav flex flex-">
            <li class=" active px-md-3 px-2">
              <a class=" text-gray-700 text-sm hover:text-gray-900 transition duration-500 ease-in-out" href="{% url 'homepage' %}">Home</a>
            </li>
            <li class=" px-md-3 px-2">
              <a class=" text-gray-700 text-sm hover:text-gray-900 transition duration-500 ease-in-out" href="#">Features</a>
            </li>
            <li class=" px-md-3 px-2">
              <a class=" text-gray-700 text-sm hover:text-gray-900 transition duration-500 ease-in-out" href="#">Pricing</a>
            </li>
            <li class=" px-md-2 px-2 hidden lg:block">
              <a class=" text-gray-700 text-sm hover:text-gray-900 transition duration-500 ease-in-out" href="{% url 'login' %}">Login</a>
            </li>
            <li class=" px-md-2 px-2 signup hidden lg:block">
              <a class=" text-md text-gray-900 px-3 py-2 bg-yellow-500 hover:bg-yellow-600 rounded border border-yellow-600 shadow font-semibold cursor-pointer transition duration-500 ease-in-out" href="{% url 'register' %}">Signup for free</a>
            </li>
          </ul>
        </div>
        <!-- End Main Navbar -->
        </div>
      </div>
    </div>
  </footer> 