{% extends 'dashboard/main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}

<div class="container-fluid page-body-wrapper">


    <!-- partial -->
    <!-- partial:partials/_sidebar.html -->



    {% include 'dashboard/sidebar.html' %}
    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">

            <div class="row">
                <h2>Update Profile</h2>
            </div>
            <hr>
            <div class="row">

                <div class="col-lg-12">



                    <div class="card">
                        <div class="card-body">

                            <div class="row">


                                <div class="col-lg-12 ">
                                    <div class="">
                                        <!-- {{user.profile.profile_image.name}} -->
                                        {% if user.profile.profile_image.name %}
                                        <img src="{{ user.profile.profile_image.url  }}" class="img-lg rounded"
                                            alt="{{user.first_name}}">
                                        {% else %}
                                        <img src="{% static 'images/faces/default.jpg' %}" class="img-lg rounded"
                                            alt="{{user.first_name}}">s
                                        {% endif %}

                                    </div>
                                </div>
                                <div class="col-lg-4 ">
                                    <!-- <form action="#" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        

                                        <div class="form-group">
                                            <label></label>
                                            <input type="file" name="pro_pic" class="file-upload-default">
                                            <div class="input-group col-xs-12">
                                                <span class="input-group-append mr-4">
                                                    <button class="file-upload-browse btn btn-primary mr-5" style="margin-right: 15px;"
                                                        type="button">Upload</button>
                                                </span>
                                                <span class="input-group-append mr-4">
                                                    <button class="file-upload-browse btn btn-primary mr-5" style="margin-right: 15px;"
                                                        type="submit">Save</button>
                                                </span>

                                                <input type="text" class="form-control file-upload-info form-control-sm ml-2"  disabled=""
                                                    placeholder="Upload Image">

                                            </div>
                                        </div>
                                    </form> -->

                                    <form action="#" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                      
                                        {{image_form|crispy}}
                                
                                        
                                        <span class="input-group-append mr-4">
                                            <button class="file-upload-browse btn btn-primary mr-5 mt-3" style="margin-right: 15px;"
                                                type="submit">Save</button>
                                        </span>
                                        
                                    </form>
                                </div>

                            </div>
                            <hr>




                            <form action="#" method="post">
                                {% csrf_token %}
                                {% crispy form %}
                            </form>





                        </div>
                    </div>
                </div>
            </div>


        </div>



























        <!-- content-wrapper ends -->
        {% include 'dashboard/footer.html' %}
        <!-- partial -->
    </div>
    <!-- main-panel ends -->
    <!-- Custom js for this page-->

    <!-- End custom js for this page-->
</div>



{% endblock body %}